.color-nav{
    background-image: linear-gradient(to right, #0b1938, #5b81d4);
  }
  nav a:hover {
    color: white !important;
  }
  p{
    padding-top: 15px;
    padding-right: 15px;
    color: white;
    font-size: larger;
  }
  .react-switch{
    margin-right: 10px;
  }
  .searchBox{
      width: 250px;
      margin-right: 10px;
  }
nav a{
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
